[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "==2.3.1"
pandas = "*"
pygame = "*"
tensorflow-gpu = "==2.4.1"
ple = {editable = true, path = "./PyGame-Learning-Environment"}
scikit-learn = "*"
keras-tuner = "*"
matplotlib = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
